.head-medi{
    margin-top: 37px;
    margin-left: 80px;
    color: #0A1B32;
    display: inline-block;  
    letter-spacing: -2%;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.medi-dot{
    color: #4F56F1;
    display: inline-block;
}

.main-nav{
    margin-left: 98px;
    display: inline-block;
}

li {
    display: inline-block;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 2%;
 }

    #li-about, #li-cont{
        margin-left: 38px;
    }

    #li-blog{
        margin-left: 40px;
    }

.sign-btns{
    float: right;
    margin-top: 30px;
    margin-right: 68px;
}
.btn-signin{
    width: 120px;
    height: 60px;
   
    line-height: 24px;
    letter-spacing: 2%;
    font-size: 16px;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #1B0A42;

    border: none;
    background-color: #FFFFFF;    
}

.btn-signup{
    width: 120px;
    height: 60px;

    line-height: 24px;
    letter-spacing: 2%;
    font-size: 16px;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;

    border-radius: 6px;
    border: none;
    background-color: #4F56F1;    
}

.main-head{   
    margin-top: 209px;
    margin-left: 200px;
    width: 495px;
    height: 152px;

    align-items: top;
    line-height: 76px;
    letter-spacing: 2%;
    font-size: 72px;
    font-family: "Ramaraja", serif;
    font-weight: 400;
    font-style: normal;
    color: #1B0A42;
}

.main-paragraf{
    margin-top: 10px;
    margin-left: 200px;
    width: 539px;
    height: 96pxpx;

    align-items: top;
    line-height: 32px;
    letter-spacing: 2%;
    font-size: 20px;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #9A9A9A;
}

.btn-learnmore{
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 268px;
    width: 152px;
    height: 64px;

    line-height: 32px;
    letter-spacing: 2%;
    font-size: 16px;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;

    border-radius: 6px;
    border: none;
    background-color: #4F56F1;
}

section{
    display: inline-block;
}
img{
    width: 653px;
    height: 604px;
}